<footer>
    <div class="footer-top">
        <div class="container">
            <div class="footer-top-block">
                <p>Телефон</p>
                <a href="tel:499 755 54 02">499 755 54 02</a>
            </div>
            <a href="/" class="footer-logo">
                <img src="../../build/img/logo.svg" alt="">
            </a>
            <div class="footer-top-block">
                <p>E-mail</p>
                <a href="mailto:info@driftexpo.ru">info@driftexpo.ru</a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p>© 2021 Все права защищены</p>
            <a href="https://daykraba.com/" class="footer-krab" target="_blank">
                <img src="../../build/img/krab.png" alt="">
            </a>
            <p>
                <a href="/policy">Правовая информация</a>
            </p>
        </div>
    </div>
</footer>
