main {
    overflow: hidden;
    padding-bottom: 150px;
}
.main-top-content {
    margin-left: -40px;
    & + p {
        font-size: 28px;
        text-align: right;
        margin-bottom: 32px;
    }
}
.section-main {
    position: relative;
    @include calc-height(padding-top, 121);
    background: linear-gradient(180deg, rgba(31, 31, 31, 0) 65.36%, #1F1F1F 100%), url('../img/main.png') no-repeat center;
    background-size: cover;
    height: calc((var(--vhMenu, 1vh) * 100) - 0px);
    .container, .row, .col-12 {
        height: 100%;
    }
    .col-12 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(31, 31, 31, 0.6);
    }
}
.subtitle-main {
    font-size: 24px;
    color: #FFD90F;
    @include calc-height(margin-bottom, 8);
    & + p {
        font-size: 28px;
        @include calc-height(margin-bottom, 32);
    }
}
.bukva-big {
    font-family: 'bebas-neue', cursive;
    font-size: 180px;
    line-height: 1;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #211797;
    mix-blend-mode: screen;
    white-space: nowrap;

}
.main-btn-wrp {
    display: flex;
    justify-content: flex-end;
}
.main-btn {
    @extend %BTN;
    width: fit-content;
}
.anchor-down {
    position: relative;
    display: block;
    margin: 0 auto;
    padding-bottom: 80px;
    font-family: 'bebas-neue', cursive;
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFD90F;
    &:hover {
        color: #FFD90F;
    }
}
.scroll-line-wrp {
    position: absolute;
    top: 40px;
    height: 40px;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    overflow: hidden;
}
.run-line {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #FFD90F;
    left: 0;
    top: 0;
    z-index: 1;
    animation: drop 1.5s infinite ease;
}
/*// animation*/
@keyframes drop {
    from {top: -100%; }
    to {top: 100%; }
}

// 2 block
.section-programm {
    padding-top: 124px;
    h2 {
        margin-bottom: 24px;
    }
}
h2 {
    font-family: 'bebas-neue', cursive;
    font-size: 56px;
    line-height: 1;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFD90F;
}
.vrezka {
    font-size: 28px;
}
.programm-points-section {
    position: relative;
    margin-top: 72px;
    .main-btn {
        margin-top: 32px;
    }
}
.programm-points-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: none;
        transition: .2s;
        &.active {
            display: block;
        }
    }
}
.accordion-wrp {
    padding-top: 41px;
    background: linear-gradient(90deg, #1F1F1F 0%, rgba(31, 31, 31, 0.9) 50.68%, rgba(31, 31, 31, 0.9) 100%),
}
.card {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius:0;
    padding-bottom: 14px;
}
.card-header .btn-link {
    position: relative;
    font-family: 'bebas-neue', cursive;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #8C8C8C;
    padding-bottom: 10px;
    &[aria-expanded="true"] {
        color: #ffffff;
        span {
            color: #FFD90F;
        }
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: '';
        position: absolute;
        width: 50%;
        height: 4px;
        bottom: -4px;
        left: 0;
        background: #FFD90F;
        box-shadow: 0px 0px 10px #FFD90F;
        opacity: 0;
        transition: .2s;
    }
}
.card-body {
    padding-top: 28px;
    padding-left: 46px;
    padding-bottom: 16px;
    font-weight: 300;
    p {
        font-weight: 300;
        & + p {
            margin-top: 20px;
        }
    }
}
// 3 block
.row-masonry {
    margin-right: -15px;
    margin-left: -15px;
}
.section-masonry {
    padding-top: 145px;
    .col-12 {
        margin-bottom: 30px;
    }
}
.block-masonry-wrp {
    display: inline-block;
    width: 33.33%;
    padding: 0 15px 30px;
    &:nth-child(2) {
        margin-top: 145px;
    }
    &:nth-child(3) {
        margin-top: 275px;
    }
}
.block-masonry {
    width: 100%;
    height: 430px;
}
.block-masonry-enter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 24px 20px;
    width: 100%;
    height: 100%;
    border: 4px solid #FFFFFF;
    box-shadow: 0px 0px 10px #FFFFFF;
    p {
        text-align: center;
        font-family: 'bebas-neue', cursive;
        font-size: 56px;
        line-height: 1;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        &:nth-child(2) {
            font-family: 'Roboto Condensed', sans-serif;
            text-shadow: 0px 0px 10px #FFFFFF;
            font-weight: 700;
            font-size: 120px;
            line-height: 1.2;
        }
    }
}
.block-masonry-content-img-wrp {
    position: relative;
    height: 100%;
    padding: 24px;
}
.block-masonry-content-img {
    overflow: hidden;
    height: 100%;
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #ffd90f;
        box-shadow: 0px 0px 10px #ffd90f;
    }
    &:hover {
        .block-masonry-content {
            transform: translateY(0) !important;
        }
        .block-masonry-text {
            opacity: 1;
        }
        .block-masonry-img {
            &::after  {
                opacity: 0;
            }
            &::before {
                opacity: 1;
            }
        }
    }
}
.block-masonry-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(31, 31, 31, 0) 0%, #1F1F1F 100%);
        transition: .2s;
        opacity: 1;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(31, 31, 31, 0.8) 0%, #1F1F1F 100%);
        transition: .2s;
        opacity: 0;
    }
}
.block-masonry-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    transition: .3s;
}
.block-masonry-title {
    font-family: 'bebas-neue', cursive;
    font-size: 40px;
    line-height: 1;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}
.block-masonry-text {
    padding-top: 9px;
    overflow: hidden;
    opacity: 0;
    transition: .2s;
    p {
        font-weight: 300;
        & + p {
            margin-top: 20px;
        }
    }
}
.fancybox-vidos {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 28px 24px;
    border: 4px solid #FFFFFF;
    box-shadow: 0px 0px 10px #FFFFFF;
    .block-masonry-title {
        position: relative;
        z-index: 2;
    }
    &:hover {
        .btn-play {
            transform: scale(1.1);
        }
    }
}
.btn-play {
    position: absolute;
    top: 24px;
    left: 24px;
    width: 72px;
    height: 72px;
    background: #FFD90F;
    box-shadow: 0px 0px 10px #FFD90F;
    transition: 0.2s;
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -9px;
        left: 50%;
        margin-left: -5px;
        width: 0;
    	height: 0;
    	border-top: 9px solid transparent;
    	border-left: 11px solid #1F1F1F;
    	border-bottom: 9px solid transparent;

    }
}
.btn-mas-wrp {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
// 4 block
.section-lecture {
    padding-top: 124px;
    h2 {
        margin-bottom: 32px;
    }
}
.topic-sections-wrp {
    .topic-section {
        &:nth-child(even) {
            .topic-img {
                left: inherit;
                right: 0;
                &::after {
                    background: linear-gradient(270.14deg, rgba(31, 31, 31, 0.3) 0.12%, rgba(31, 31, 31, 0.9) 99.88%);
                }
            }
        }
    }
}
.topic-section {
    position: relative;
    margin-top: 64px;
}
.topic-img {
    position: absolute;
    top: 32px;
    left: 0;
    width: 91.5%;
    height: calc(100% - 64px);
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(270.14deg, rgba(31, 31, 31, 0.9) 0.12%, rgba(31, 31, 31, 0.3) 99.88%);
    }
}
.topic-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 20px 20px;
    box-shadow: 0px 0px 10px #FFD90F;
    border: 4px solid #FFD90F;
    min-height: 476px;
}
.topic-cifra {
    font-size: 80px;
    text-transform: uppercase;
    color: #FFD90F;
    text-shadow: 0px 0px 10px #FFD90F;
}
.topic-title {
    font-family: 'bebas-neue', cursive;
    font-size: 40px;
    line-height: 1;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.topic-text {
    p {
        font-weight: 300;
    }
}
.topic-fancybox-vidos {
    height: 434px;
}
.topic-main-btn {
    width: 100%;
    margin-top: 40px;
}
// 5 block
.section-review {
    padding-top: 124px;
    h2 {
        color: #ffffff;
        margin-bottom: 32px;
    }
    .vrezka {
        color: #FFD90F;
        margin-bottom: 64px;
    }
}
.review-slider-wrp {
    position: relative;
    width: 100vw;
}
.review-slider {
    .slick-track {
        display: flex;
        .slick-slide {
            height: auto;
        }
    }
    .slick-list {
        padding: 0 45% 0 0;
    }
}
.review-slide-wrp {
    width: 920px;
    height: 100%;
    padding: 12px;
}
.review-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 44px 63px 43px 56px;
    width: 100%;
    height: 100%;
    border: 4px solid #FFD90F;
    box-shadow: 0px 0px 10px #FFD90F;
}
.review-slider-text {
    margin-bottom: 40px;
    font-weight: 300;
    p {
        font-weight: 300;
    }
}
.review-slider {
    margin-left: -12px;
}
.review-slider-name {
    font-family: 'bebas-neue', cursive;
    font-size: 40px;
    line-height: 1;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}
.review-slider-position {
    color: #FFD90F;
    font-weight: 300;
}
.main-slider-arrows-wrp {
    display: flex;
    margin-top: 40px;
}
.main-slider-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1F1F1F;
    border: 1px solid #4E4E4E;
    width: 64px;
    height: 64px;
    cursor: pointer;
    img {
        width: 22px;
    }
    & + .main-slider-arrow  {
        margin-left: 16px;
    }
}
// 6 block
.section-map {
    padding-top: 124px;
    h2 {
        margin-bottom: 40px;
        color: #ffffff;
    }
}
.section-map-text {
    padding-left: 65px;
}
.map-wrp {
    margin-top: 64px;
    width: 100%;
    height: 501px;
    background-color: pink;
}
#map {
    width: 100%;
    height: 100%;
}
.block-where-flex-wrp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 54px;
}
.block-where-flex {
    display: flex;
    .where-title  {
        margin-right: 32px;
    }
    & + .block-where-flex {
        margin-left: 49px;
    }
}
.where-title {
    font-size: 80px;
    text-transform: uppercase;
    color: #FFD90F;
    text-shadow: 0px 0px 10px #FFD90F;
}
.where-text {
    padding-top: 14px;
    font-size: 28px;
    max-width: 400px;
    min-width: 187px;
}
.way-content {
    margin-top: 40px;
    .row {
        & + .row {
            margin-top: 48px;
        }
    }
}
.where-subtitle {
    font-family: 'bebas-neue', cursive;
    font-size: 40px;
    line-height: 1;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}
.way-list {
    li {
        position: relative;
        padding-left: 20px;
        font-size: 28px;
        p {
            line-height: 1.2;
            span {
                color: #FFD90F;
            }
            &.lighter {
                font-weight: 300;
                font-size: 20px;
            }
            & + p {
                margin-top: 8px;
            }
        }
        &::before {
            content: '•';
            position: absolute;
            left: 0;
            top: 0px;
            color: #FFD90F;
            line-height: 1.2;
        }
        & + li {
            margin-top: 32px;
        }
    }
}
// 7 block
.section-price {
    padding-top: 141px;
}
.price-list-wrp  {
    padding-left: 81px;
}
.price-list {
    margin-top: 48px;
    margin-bottom: 92px;
    li {
        padding-left: 28px;
        position: relative;
        font-size: 28px;
        &::before {
            content: '';
            position: absolute;
            width: 4px;
            height: calc(100% - 10px);
            top: 5px;
            left: 0;
            background: #FFD90F;
            box-shadow: 0px 0px 10px #FFD90F;
        }
        & + li {
            margin-top: 43px;
        }
    }
}
.block-price-actual {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 160px;
    border: 4px solid #FFFFFF;
    box-shadow: 0px 0px 10px #FFFFFF;
    &.gold {
        border-color: #FFD90F;
        box-shadow: 0px 0px 10px #FFD90F;
        .actual-property {
            text-shadow: 0px 0px 10px #FFD90F;
            color: #FFD90F;
        }
    }
    &.bronze {
        border-color: #9E9E9E;
        box-shadow: 0px 0px 10px #C1C1C1;
        .actual-property {
            text-shadow: 0px 0px 10px #C1C1C1;
            color: #9E9E9E;
        }
    }
    & + .block-price-actual {
        margin-top: 32px;
    }
}
.actual-value {
    font-family: 'bebas-neue', cursive;
    font-size: 40px;
    line-height: 1;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}
.actual-property {
    font-size: 48px;
    text-align: right;
    text-shadow: 0px 0px 10px #FFFFFF;
}
// 8 block guarantee
.section-guarantee {
    padding-top: 124px;
    h2 {
        position: relative;
        margin-bottom: 32px;
        padding-left: 52px;
        &::before {
            content: '';
            position: absolute;
            top: -20px;
            left: -45px;
            width: 63px;
            height: 75px;
            background: url('../img/guarantee.svg') center no-repeat;
            background-size: contain;
            filter: drop-shadow(0px 0px 6px #FFD90F);
        }
    }
}
.section-guarantee-content {
    position: relative;
    padding: 106px 0;
}
.section-guarantee-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 65.76%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(270.14deg, rgba(31, 31, 31, 0.9) 27.28%, rgba(31, 31, 31, 0.3) 99.88%);
    }
}
.guarantee-text {
    padding-left: 135px;
    font-size: 28px;
    p {
        & + p {
            margin-top: 39px;
        }
    }
}
// 9 block organization
.section-organization {
    padding-top: 124px;
    h2 {
        color: #ffffff;
        margin-bottom: 18px;
        & + p {
            font-size: 28px;
            color: #FFD90F;
        }
    }
}
.block-org {
    position: relative;
    display: flex;
    align-items: center;
    height: 250px;
    margin-top: 42px;
    padding-left: 53px;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -4px;
        width: 4px;
        height: 100%;
        background: #FFD90F;
        box-shadow: 0px 0px 10px #FFD90F;
        z-index: 2;
    }
    &:hover {
        .org-bg::after {
            background: linear-gradient(270.14deg, rgba(31, 31, 31, 0.9) 0.12%, rgba(31, 31, 31, 0.5) 99.88%);
        }
    }
}
.org-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(270.14deg, rgba(31, 31, 31, 0.9) 0.12%, rgba(31, 31, 31, 0.3) 99.88%);
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }
}
.logo-org {
    width: 48%;
    position: relative;
    z-index: 2;
}
.link-icon {
    position: absolute;
    z-index: 2;
    width: 56px;
    height: 56px;
    right: 15px;
    bottom: 17px;
}
// 10 block event
.section-event {
    padding-top: 124px;
    h2 {
        margin-bottom: 24px;
    }
}
.event-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 350px;
    margin-top: 30px;
    border: 4px solid #FFFFFF;
    box-shadow: 0px 0px 10px #FFFFFF;
    img {
        width: fit-content;
        margin-bottom: 28px;
    }
    &.gold {
        border-color: #FFD90F;
        box-shadow: 0px 0px 6px #FFD90F;
    }
}
.event-name {
    font-family: 'bebas-neue', cursive;
    font-size: 40px;
    line-height: 1;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.event-text {
    font-size: 28px;
}
// 11 block count
.section-count {
    padding-top: 124px;
    h2 {
        color: #ffffff;
        margin-bottom: 40px;
    }
}
.section-count-content {
    position: relative;
    padding-top: 65px;
    padding-bottom: 3px;
}
.section-count-img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 65.75%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgba(31, 31, 31, 0.9) 27.28%, rgba(31, 31, 31, 0.3) 99.88%);
    }
}
.count-text-wrp {
    padding-left: 95px;
    .col-12 {
        margin-bottom: 48px;
    }
    p {
        &:first-child {
            font-size: 80px;
            line-height: 1.17;
            text-transform: uppercase;
            color: #FFD90F;
            text-shadow: 0px 0px 10px #FFD90F;
        }
        &:last-child {
            font-size: 28px;
        }
    }
}
// 12 partners block
.section-partners {
    padding-top: 124px;
    h2 {
        color: #ffffff;
        margin-bottom: 64px;
    }
}
.partner-slide-wrp {
    padding: 12px;
}
.partner-slider {
    margin-left: -12px;
}
.partner-slider-wrp {
    position: relative;
    width: 90vw;
}
.partner-slide {
    width: 350px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #FFD90F;
    box-shadow: 0px 0px 10px #FFD90F;
    img {
        max-width: 90%;
        width: 195px;
    }
}
// 13 block faq
.section-faq {
    padding-top: 124px;
    h2 {
        margin-bottom: 56px;
    }
}
.faq-list {
    li {
        padding-bottom: 52px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 25%;
            height: 4px;
            background-color: #FFD90F;
            box-shadow: 0px 0px 10px #FFD90F;
        }
        & + li {
            margin-top: 48px;
        }
    }
}
.li-question {
    padding-left: 44px;
    position: relative;
    font-family: 'bebas-neue', cursive;
    font-size: 40px;
    line-height: 1;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    &::before {
        content: 'Q.';
        position: absolute;
        left: 0;
        top: 0;
        font-size: 40px;
        line-height: 1;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FFD90F;
        font-family: 'bebas-neue', cursive;
    }
}
.li-answer {
    position: relative;
    padding-left: 44px;
    font-size: 28px;
    margin-top: 24px;
    &::before {
        content: 'A.';
        position: absolute;
        left: 0;
        top: 0;
        font-size: 40px;
        line-height: 1;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FFD90F;
        font-family: 'bebas-neue', cursive;
    }
}
// media
@media (max-width: 1750px){
    .review-slider {
        .slick-list {
            padding: 0 40% 0 0;
        }
    }
    .partner-slider-wrp {
        width: 100vw;
    }
}
@media (max-width: 1680px){
    .review-slider {
        .slick-list {
            padding: 0 30% 0 0;
        }
    }

}
@media (max-width: 1516px){
    .partner-slider-wrp {
        width: 85vw;
    }
}
@media (max-width: 1410px){
    .review-slider {
        .slick-list {
            padding: 0 25% 0 0;
        }
    }
}
@media (max-width: 1312px){
    .partner-slider-wrp {
        width: 95vw;
    }
}
@media (max-width: 1250px){
    .review-slider {
        .slick-list {
            padding: 0 20% 0 0;
        }
    }
}

@media (max-width: 1199px){
    .review-slider {
        .slick-list {
            padding: 0 30% 0 0;
        }
    }
    .review-slide-wrp {
        width: 90%;
    }
    .partner-slider-wrp {
        width: 115vw;
    }
}
@media (max-width: 991px){
    .review-slider {
        .slick-list {
            padding: 0 20% 0 0;
        }
    }
    .partner-slider-wrp {
        width: 90vw;
    }
}
@media (max-width: 826px){
    .partner-slider-wrp {
        width: 100vw;
        .slick-list {
            padding: 0 40% 0 0;
        }
    }
}

@media (max-width: 767px){
    .review-slider {
        .slick-list {
            padding: 0 25% 0 0;
        }
    }
    .partner-slider-wrp {
        .slick-list {
            padding: 0 30% 0 0;
        }
    }
}
@media (max-width: 540px){
    .review-slider {
        .slick-list {
            padding: 0 55px 0 0;
        }
    }
    .review-slide-wrp {
        width: calc(100% - 40px);
    }
    .partner-slider-wrp {
        .slick-list {
            padding: 0 70px 0 0;
        }
    }
    .partner-slide {
        width: calc(100% - 10px);
    }
}
@media (max-width: 440px){
    .review-slider {
        .slick-list {
            padding: 0 45px 0 0;
        }
    }
    .review-slide-wrp {
        width: calc(100% - 25px);
    }
    .partner-slide {
        width: 100%;
    }
    .partner-slider-wrp {
        .slick-list {
            padding: 0 85px 0 0;
        }
    }
}
