<div id="buyTicket" class="pop-up-general-block">
    <p class="form-title">купить билет</p>
    <form>
        <div class="row row-line">
            <div class="col-lg-6 col-12">
                <div class="radio-wrp">
                    <label class="radio">
                        <input type="radio" name="tick" checked/>
                        <div class="radio-text">Билет участника</div>
                    </label>
                </div>
            </div>
            <div class="col-lg-6 col-12 col-table">
                <div class="row">
                    <div class="col-4">
                        <p>осталось</p>
                    </div>
                    <div class="col-4">
                        <p class="col-price">10 шт</p>
                    </div>
                    <div class="col-4">
                        <p class="col-price"><span class="ticketPrice">900</span> ₽</p>
                    </div>
                </div>
                <div class="row row-rest">
                    <div class="col-4">
                        <p>остальные</p>
                    </div>
                    <div class="col-4">
                        <p class="col-price">80 шт</p>
                    </div>
                    <div class="col-4">
                        <p class="col-price">1 000 ₽</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-line">
            <div class="col-lg-6 col-12">
                <div class="radio-wrp">
                    <label class="radio">
                        <input type="radio" name="tick"/>
                        <div class="radio-text">Билет зрителя</div>
                    </label>
                </div>
            </div>
            <div class="col-lg-6 col-12 col-table">
                <div class="row">
                    <div class="col-4">
                        <p>осталось</p>
                    </div>
                    <div class="col-4">
                        <p class="col-price">8 шт</p>
                    </div>
                    <div class="col-4">
                        <p class="col-price"><span  class="ticketPrice">700</span> ₽</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-line">
            <div class="col-lg-6 col-12">
                <label class="checkbox-long">
                    <input class="checkbox-amount" type="checkbox" />
                    <div class="checkbox-text-long">
                        <p>Парковочное место зрителя</p>
                        <p>Для зрителей, приехавших на личном авто</p>
                    </div>
                </label>
            </div>
            <div class="col-lg-6 col-12 col-table">
                <div class="row">
                    <div class="col-4">
                        <p>осталось</p>
                    </div>
                    <div class="col-4">
                        <p class="col-price">2 шт</p>
                    </div>
                    <div class="col-4">
                        <p class="col-price">+<span class="place-amount">200</span> ₽</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-line row-line-btn">
            <div class="col-lg-6 col-12">
                <p class="prop-price">Итого:</p>
                <p class="val-price"><span>700</span> рублей</p>
            </div>
            <div class="col-lg-6 col-12">
                <div class="form-btn-wrp">
                    <div class="form-btn-skew skew-btn">
                        <input class="form-btn" type="submit" name="" value="Купить билет">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="pop-up-general-block-close-btn"></div>
</div>
<div id="accredBlock" class="pop-up-general-block">
    <p class="form-title">аккредитация сми</p>
    <form id="accredForm" >
        <div class="row">
            <div class="col-12">
                <p class="input-title">ФИО</p>
                <div class="input-style">
                    <input class="input-form input-valid" type="text" data-input="name" name="name">
                    <p class="input-error">Ошибка ввода</p>
                </div>
            </div>
            <div class="col-lg-7 col-12">
                <p class="input-title">Представителем какого СМИ вы являетесь</p>
                <div class="input-style">
                    <input class="input-form input-valid" type="text" name="smi">
                    <p class="input-error">Ошибка ввода</p>
                </div>
            </div>
            <div class="col-lg-5 col-12 label-form-wrp label-form-mob">
                <label class="checkbox">
                    <input type="checkbox" />
                    <div class="checkbox-text">
                        <p>Есть удостоверение журналиста</p>
                    </div>
                </label>
            </div>
            <div class="col-12">
                <p class="input-title">На каких ресурсах будет размещен материал с мероприятия</p>
                <div class="input-style">
                    <input class="input-form input-valid" type="text" name="source">
                    <p class="input-error">Ошибка ввода</p>
                </div>
            </div>
            <div class="col-lg-7 col-12">
                <p class="input-title">Сколько человек в Вашей бригаде (операторы  и т.д.)</p>
                <div class="input-style">
                    <input class="input-form input-valid" type="text" name="men">
                    <p class="input-error">Ошибка ввода</p>
                </div>
            </div>
            <div class="col-lg-5 col-12">
                <p class="input-title">Контактный номер телефона</p>
                <div class="input-style">
                    <input class="input-form input-valid mask-phone" type="tel" data-input="phone" name="phone">
                    <p class="input-error">Ошибка ввода</p>
                </div>
            </div>
            <div class="col-lg-7 col-12 label-form-wrp">
                <label class="checkbox">
                    <input class="checkbox-check" type="checkbox" />
                    <div class="checkbox-text">
                        <p class="accred">Я согласен с <a href="/policy">политиками конфиденциальности</a></p>
                    </div>
                </label>
            </div>
            <div class="col-lg-5 col-12">
                <div class="form-btn-wrp">
                    <div class="form-btn-skew skew-btn btn-checkbox btn-checkbox-disabled">
                        <input class="form-btn" type="submit" name="" value="Отправить">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="pop-up-general-block-close-btn"></div>
</div>
<div id="thnx" class="pop-up-general-block thnx">
    <p class="form-title">Ваша Заявка получена!</p>
    <div>Спасибо за обращение! Наш менеджер перезвонит Вам в&nbsp;течение дня!</div>
    <div class="pop-up-general-block-close-btn"></div>
</div>
