<section class="not-found pt64">
    <div class="container">
        <div class="row">
            <div class="offset-xl-3 offset-lg-2 offset-md-1 offset-0 col-xl-6 col-lg-8 col-md-10 col-12">
                <p class="cifra">404</p>
            </div>
        </div>
        <div class="row">
            <div class=" offset-lg-2 offset-md-1 offset-0 col-lg-8 col-md-10 col-12">
                <h3>Запрашиваемая вами страница не&nbsp;найдена или перенесена.</h3>
                <p>Попробуйте воспользоваться меню
                или <a href="/">перейти на главную</a></p>
            </div>
        </div>
    </div>
</section>
